@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Privacy Policy</h1>
   

<div>
    <p>Welcome to the privacy policy page of [Your Police Department's Name]. This page outlines how we collect, use, and protect the information you provide when using our website.</p>

    <h5>Data Collection</h5>
    <p>We may collect certain information for law enforcement and website improvement purposes. This may include, but is not limited to, your IP address, browser information, and usage patterns on our site.</p>

    <h5>Information Usage</h5>
    <p>The collected information will be used responsibly and in accordance with applicable laws. We may use this data to improve our website, enhance user experience, and ensure the security of our online services.</p>

    <h5>Third-Party Services</h5>
    <p>We may utilize third-party services, such as analytics tools, to better understand how visitors interact with our site. These third-party services may collect and process data on our behalf in compliance with their own privacy policies.</p>

    <h5>Security Measures</h5>
    <p>We take appropriate measures to protect the information you provide to us. However, it's important to note that no online data transmission or storage can be guaranteed to be 100% secure. Therefore, while we strive to protect your information, we cannot guarantee its absolute security.</p>

    <h5>Changes to this Policy</h5>
    <p>We reserve the right to update our privacy policy as necessary. Any changes will be reflected on this page, and we encourage you to review this policy periodically.</p>

</div>